.user-notification {
  display: flex;
  align-items: normal;
  justify-content: center;
  position: relative;
  margin-right: 24px;

  .user-notification-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -11px;
    background: #cc1910;
    border: 1px solid #1074cc;
    border-radius: 100px;
    width: 21px;
    height: 16px;
    font-weight: 500;
    font-size: 11px;
    color: #fff;
  }
}
